---
import './index.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>SQ8</title>
	</head>
	<body>
        <div class="header">
            <span class="name">SQ8</span>
        </div>
        <span class="div"></span>
            <div class="links">
                <a class="discord" href="https://discord.com/users/569915198974984202"><i class="nf nf-fa-discord"></i></a>
                <a class="mail" href="mailto:linus@sq8.dev"><i class="nf nf-md-email"></i></a>
                <a class="gpg" href="gpg"><i class="nf nf-fa-key"></i></a>
            </div>
    </body>
</html>
